<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{users.edit}"></title>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container mt-4">
    <h1 th:text="#{users.edit}"></h1>
    <form method="post" th:action="@{/admin/users/edit}" th:object="${user}">
        <input th:field="*{id}" type="hidden">
        <div class="mb-3">
            <label class="form-label" for="firstName"  th:text="#{firstName}"></label>
            <input class="form-control" id="firstName" th:field="*{firstName}" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="lastName"  th:text="#{lastName}"></label>
            <input class="form-control" id="lastName" th:field="*{lastName}" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="userType"  th:text="#{type}"></label>
            <select class="form-select" id="userType" th:field="*{userType}">
                <option th:value="TEACHER" th:text="#{teacher}"></option>
                <option th:value="STUDENT" th:text="#{student}"></option>
            </select>
        </div>
        <div class="mb-3" th:if="${user.userType} == 'STUDENT'">
            <label class="form-label" for="group"  th:text="#{group}"></label>
            <select class="form-select" id="group" th:field="*{group.id}">
                <option th:each="group : ${groups}" th:text="${group.getName()}" th:value="${group.id}"></option>
                <option th:value="null">None (only for teacher)</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="username" th:text="#{username}"></label>
            <input class="form-control" id="username" th:field="*{username}" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password"  th:text="#{password}"></label>
            <input class="form-control" id="password" th:field="*{password}" type="text">
        </div>
        <div class="mb-3" th:if="${user.userType} == 'TEACHER'">
            <label class="form-label" for="teacherStudyClasses">Study classes (only for teachers)</label>
            <div id="teacherStudyClasses">
                <div th:each="studyClass : ${allStudyClasses}">
                    <div class="form-check">
                        <input class="form-check-input" th:field="*{studyClassesIds}"
                               th:id="'studyClass_' + ${studyClass.id}"
                               th:name="studyClasses" th:value="${studyClass.id}" type="checkbox">
                        <label class="form-check-label" th:for="'studyClass_' + ${studyClass.id}"
                               th:text="${studyClass.classType + ': ' + studyClass.courseName + '; Start time:' + studyClass.getStartTime() + '; End time:' + studyClass.getEndTime() + '; Group: ' + studyClass.groupName}">
                        </label>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="noneOption" name="studyClasses" th:field="*{studyClassesIds}"
                           type="checkbox"
                           value="null">
                    <label class="form-check-label" for="noneOption">None (only for student)</label>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit"  th:text="#{save}"></button>
    </form>
</div>
</body>
</html>
