<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <title>Language</title>
</head>
<body>
<div th:fragment="language">
    <div class="d-flex justify-content-end">
        <form action="#" class="form-label" method="get">
            <select class="form-select" name="lang" onchange="this.form.submit()">
                <option th:selected="${#locale.language == 'en'}" value="en">English</option>
                <option th:selected="${#locale.language == 'uk'}" value="uk">Українська</option>
            </select>
        </form>
    </div>
</div>
</body>
</html>
