<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{classes}"></title>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <script th:src="@{/static/js/script.js}"></script>
</head>
<body>
<div th:insert="~{language :: language}"></div>
<div class="mb-3">
    <a class="btn btn-success" href="/admin/schedule/new" th:text="#{schedule.add}"></a>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th th:text="#{groups}"></th>
        <th th:text="#{startDate}"></th>
        <th th:text="#{endDate}"></th>
        <th th:text="#{actions}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="schedule : ${schedulesPage}">
        <td th:text="${schedule.getGroupName()}"></td>
        <td th:text="${schedule.getStartDate()}"></td>
        <td th:text="${schedule.getEndDate()}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{/admin/schedule/view(id=${schedule.id})}" th:text="#{view}"></a>
            <a class="btn btn-primary" th:href="@{/admin/schedule/edit(id=${schedule.id})}" th:text="#{edit}"></a>
            <form method="post" style="display:inline-block;"
                  th:action="@{/admin/schedule/delete/{id}(id=${schedule.id})}">
                <input name="_method" type="hidden" value="DELETE"/>
                <button class="btn btn-danger" th:text="#{delete}" type="submit"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>