<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{groups}"></title>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{language :: language}"></div>
<h2 th:text="#{groups}"></h2>
<div class="mb-3">
    <a class="btn btn-success" href="/admin/groups/new" th:text="#{group.add}"></a>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th th:text="#{id}"></th>
        <th th:text="#{group.name}"></th>
        <th th:text="#{group.studentClasses}"></th>
        <th th:text="#{actions}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${groupsPage}">
        <td th:text="${group.id}"></td>
        <td th:text="${group.name}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{/admin/groups/students(id=${group.id})}"
               th:text="#{group.goToStudent}"></a>
            <a class="btn btn-primary" th:href="@{/admin/groups/classes(id=${group.id})}"
               th:text="#{group.goToСlasses}"></a>
        </td>
        <td>
            <a class="btn btn-primary" th:href="@{/admin/groups/edit(id=${group.id})}" th:text="#{edit}"></a>
            <form method="post" style="display:inline-block;"
                  th:action="@{/admin/groups/delete/{id}(id=${group.id})}">
                <input name="_method" type="hidden" value="DELETE"/>
                <button class="btn btn-danger" th:text="#{delete}" type="submit"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <ul class="pagination">
        <li class="page-item" th:each="i : ${#numbers.sequence(0, groupsPage.totalPages - 1)}">
            <a class="page-link" th:href="@{/admin/groups(page=${i}, size=${groupsPage.size})}"
               th:text="${i + 1}"></a>
        </li>
    </ul>
</div>
</body>
</html>
