<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title th:text="#{classes.new}"></title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container mt-4">
    <h1 th:text="#{classes.new}"></h1>
    <form method="post" th:action="@{/admin/classes/new}" th:object="${class}">
        <div class="mb-3">
            <label class="form-label" for="startTime" th:text="#{startTime}"></label>
            <input class="form-control" id="startTime" th:field="*{startTime}" type="datetime-local">
        </div>
        <div class="mb-3">
            <label class="form-label" for="endTime" th:text="#{endTime}"></label>
            <input class="form-control" id="endTime" th:field="*{endTime}" type="datetime-local">
        </div>
        <div class="mb-3">
            <label class="form-label" for="classType" th:text="#{type}"></label>
            <select class="form-select" id="classType" th:field="*{classType}">
                <option th:value="ONLINE">Online</option>
                <option th:value="OFFLINE">Offline</option>
            </select>
        </div>
        <button class="btn btn-success" th:text="#{classes.new}" type="submit"></button>
    </form>
</div>
</body>
</html>
