<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{groups}"></title>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
</head>
<body>
<div th:insert="~{language :: language}"></div>
<h2 th:text="#{group} + ' ' + ${group.name}"></h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th th:text="#{student}"></th>
        <th th:text="#{actions}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.firstName + ' ' + student.lastName}"></td>
        <td>
            <form method="post" style="display:inline-block;"
                  th:action="@{/admin/groups/students/delete/{id}(id=${student.id})}">
                <input name="_method" type="hidden" value="DELETE"/>
                <button class="btn btn-danger" th:text="#{delete}" type="submit"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
