<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title th:text="#{course.edit}"></title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <script th:src="@{/static/js/script.js}"></script>
</head>
<body>
<div class="container mt-4">
    <h1 th:text="#{course.edit}"></h1>
    <form method="post" th:action="@{/teacher/courses/edit}" th:object="${course}">
        <input th:field="*{id}" type="hidden">
        <div class="mb-3">
            <label class="form-label" for="studyClasses" th:text="#{classes}"></label>
            <div id="studyClasses">
                <div th:each="studyClass : ${allStudyClasses}">
                    <div class="form-check">
                        <input class="form-check-input" th:field="*{studyClassesIds}"
                               th:id="'studyClass_' + ${studyClass.id}"
                               th:name="studyClasses" th:value="${studyClass.id}" type="checkbox">
                        <label class="form-check-label" th:for="'studyClass_' + ${studyClass.id}">
                            <span th:text="${studyClass.classType + ': ' + studyClass.courseName + '; Start time: '}"></span>
                            <span class="convert-time" th:attr="data-utc=${studyClass.getStartTime()}"></span>
                            <span th:text="'; End time: '"></span>
                            <span class="convert-time" th:attr="data-utc=${studyClass.getEndTime()}"></span>
                            <span th:text="'; Group: ' + ${studyClass.groupName}"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" th:text="#{save}" type="submit"></button>
    </form>
</div>
</body>
</html>
