<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{teacher}"></title>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
    </style>
    <script th:src="@{/static/js/script.js}"></script>
</head>
<body>
<div class="d-flex justify-content-evenly flex-column">
    <div th:insert="~{language :: language}"></div>
    <h1 th:text="#{teachers.header}"></h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th th:text="#{id}"></th>
            <th th:text="#{firstName}"></th>
            <th th:text="#{lastName}"></th>
            <th th:text="#{classes}"></th>
            <th th:text="#{actions}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teacherPage}">
            <td th:text="${teacher.id}"></td>
            <td th:text="${teacher.firstName}"></td>
            <td th:text="${teacher.lastName}"></td>
            <td>
                <ul>
                    <li th:each="studyClass : ${teacher.studyClasses}">
                        <span>
                           <span th:text="${studyClass.classType + ': ' + studyClass.courseName}"></span>
                           <span class="convert-time" th:attr="data-utc=${studyClass.startTime}"></span>
                           <span th:text="' to '"></span>
                           <span class="convert-time" th:attr="data-utc=${studyClass.endTime}"></span>
                           <span th:text="${' ' + studyClass.groupName}"></span>
                        </span>
                        <form method="post" style="display:inline-block;"
                              th:action="@{teacher/classes/delete/{id}(id=${studyClass.id})}">
                            <input name="_method" type="hidden" value="DELETE"/>
                            <button class="btn btn-danger" th:text="#{delete}" type="submit"></button>
                        </form>
                    </li>
                </ul>
            </td>
            <td>
                <a class="btn btn-primary" th:href="@{teacher/schedule(id=${teacher.id})}" th:text="#{schedule}"></a>
                <a class="btn btn-primary" th:href="@{/teacher/classes/add(id=${teacher.id})}"
                   th:text="#{classes.new}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <ul>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, teacherPage.totalPages - 1)}">
                <a class="page-link" th:href="@{/teacher(page=${i}, size=${teacherPage.size})}"
                   th:text="${i + 1}"></a>
            </li>
        </ul>
    </div>
    <a class="btn btn-primary" href="teacher/courses" th:text="#{courses}"></a>
    <a class="btn btn-primary" href="teacher/groups" th:text="#{groups}"></a>
</div>
</body>
</html>
