<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{admin}"></title>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="d-flex justify-content-evenly flex-column">
    <div th:insert="~{language :: language}"></div>
    <h1 th:text="#{admin.panel}"></h1>
    <div class="mb-3">
        <a class="btn btn-success" href="/admin/users" th:text="#{users}"></a>
    </div>
    <div class="mb-3">
        <a class="btn btn-success" href="/admin/courses" th:text="#{courses}"></a>
    </div>
    <div class="mb-3">
        <a class="btn btn-success" href="/admin/classes" th:text="#{classes}"></a>
    </div>
    <div class="mb-3">
        <a class="btn btn-success" href="/admin/groups" th:text="#{groups}"></a>
    </div>
</div>
</body>
