<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{teacher}"></title>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<div class="d-flex justify-content-evenly flex-column">
    <div th:insert="~{language :: language}"></div>
    <h1 th:text="#{teachers.header}"></h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th th:text="#{id}"></th>
            <th th:text="#{firstName}"></th>
            <th th:text="#{lastName}"></th>
            <th th:text="#{classes}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teacherPage}">
            <td th:text="${teacher.id}"></td>
            <td th:text="${teacher.firstName}"></td>
            <td th:text="${teacher.lastName}"></td>
            <td>
                <ul>
                    <li th:each="studyClass : ${teacher.studyClasses}">
                        <span th:text="${studyClass.classType + ': '+ studyClass.courseName + ' - ' + studyClass.startTime + ' to ' + studyClass.endTime + ' ' + studyClass.groupName + ' '}"></span>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <ul>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, teacherPage.totalPages - 1)}">
                <a class="page-link" th:href="@{/templates/teacher(page=${i}, size=${teacherPage.size})}"
                   th:text="${i + 1}"></a>
            </li>
        </ul>
    </div>
    <a class="btn btn-primary" href="teacher/courses" th:text="#{courses}"></a>
    <a class="btn btn-primary" href="teacher/groups" th:text="#{groups}"></a>
</div>
</body>
</html>
