<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{groups}"></title>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{language :: language}"></div>
<h2 th:text="#{groups}"></h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th th:text="#{id}"></th>
        <th th:text="#{group.name}"></th>
        <th th:text="#{group.student}"></th>
        <th th:text="#{group.class}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${groupsPage}">
        <td th:text="${group.id}"></td>
        <td th:text="${group.name}"></td>
        <td>
            <ul>
                <li th:each="student : ${group.students}" th:text="${student.firstName + ' ' + student.lastName}"></li>
            </ul>
        </td>
        <td>
            <ul>
                <li th:each="studyClass : ${group.studyClasses}"
                    th:text="${studyClass.classType + ': ' + studyClass.courseName + '; Start time:' + studyClass.getStartTime() + '; End time:' + studyClass.getEndTime() + '; Group: ' + studyClass.groupName}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <ul class="pagination">
        <li class="page-item" th:each="i : ${#numbers.sequence(0, groupsPage.totalPages - 1)}">
            <a class="page-link" th:href="@{/teacher/groups(page=${i}, size=${groupsPage.size})}"
               th:text="${i + 1}"></a>
        </li>
    </ul>
</div>
</body>
</html>
